{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {#    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">#}
    <link rel="stylesheet" href="{% static "coreui-pro/css/coreui.min.css" %}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">

    <title>Microbiome web</title>
</head>

{% block body %}
    <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
{% endblock %}


{% block content %}

{% endblock %}


{% block footer %}
    <footer class="app-footer">
    <div>
        <a href="#">UMCGMicrobiomeWeb</a>
        <span>© 2018 creativeLabs.</span>
    </div>
    <div class="ml-auto">
        <span>Powered by</span>
        <a href="#">UMCGMicrobiomeWeb</a>
    </div>
{% endblock %}



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, Bootstrap, then CoreUI  -->
<script src="{% static "jquery/jquery.min.js" %}"></script>
<script src="{% static "popper.js/popper.min.js" %}"></script>
<script src="{% static "perfect-scrollbar/perfect-scrollbar.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "coreui-pro/js/coreui.min.js" %}"></script>
</body>
</html>