{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}

    {% include "_header.html" %}
    <div class="app-body">
        {% include "_sidebar.html" %}
        <main class="main">


            {#            {% include "_breadcrumb.html" %}#}
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><i class="nav-link fas fa-pencil-alt"></i>Projects</li>
                <li class="breadcrumb-menu d-md-down-none">
                    <div class="btn-group" role="group" aria-label="Button group">
                        <a class="btn" href="{% url 'project_new' %}">
                            <i class="fas fa-pencil-alt"></i> &nbsp;Create new</a>
                    </div>
                </li>
            </ol>


            <div class="container-fluid">

                {% bootstrap_messages %}


                <div id="ui-view">

                    <div class="row">
                        <div class="col-sm-12 col-xl-6">
                            {% for p in projects %}
                                <div class="card">
                                    <div class="card-header">
                                        <i class="fa fa-align-justify"></i> My project where I'm admin
                                        <div class="card-header-actions">
                                            <a class="card-header-action"
                                               href="https://coreui.io/docs/components/bootstrap-list-group/"
                                               target="_blank">
                                                <small class="text-muted">docs</small>
                                            </a>
                                            <a class="card-header-action btn-setting" href="{% url 'project_edit' p.id %}">
                                                <i class="icon-settings"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="list-group">

                                            <a class="list-group-item list-group-item-action flex-column align-items-start"
                                               href="#">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">{{ p.name }}</h5>
                                                    <small class="text-muted">{{ p.startDate }}</small>
                                                </div>
                                                <p class="mb-1">{{ p.description }}</p>
                                                <small class="text-muted">{{ p.status }}</small>
                                            </a>


                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>


                </div>
            </div>
        </main>
        {% include "_aside_menu.html" %}
    </div>

{% endblock %}
